[main]
source_path=remote:MAIN/sync/source
store_path=remote:MAIN/sync/store
destination_path=remote:MAIN/sync/dest
file_filter=\[ani
target_size=20971520000
max_files=2

[other]
source_path=
store_path=remote2:MAIN/other/store
destination_path=remote2:MAIN/other/dest
target_size=20971520000
max_files=1
